@supports (-webkit-touch-callout: none) {
  .h-screen {
    height: -webkit-fill-available;
  }
}

.purple:hover {
	background-color: #9c27b0;
}

.blue:hover {
	background-color: #0000ff;
}

.green:hover {
	background-color: #00ff00;
}

.yellow:hover {
	background-color: #ffff00;
}

.orange:hover {
	background-color: #ff9800;
}

.red:hover {
	background-color: #ff0000;
}